page-contact-us {
    textarea{
        width: 100%;
    }
    .logo {
        width: 130px;
        height: 120px;
        margin: 50px auto !important;
        border-radius: 10%;
        background: url(../assets/img/ionic3-ico.png) no-repeat;
        background-size: 100%;
    }
    ion-icon {
        font-size: 2.2em;
    }
}
