page-witneses {
    button{
        border-radius: 8px  !important  ;
        -webkit-border-radius: 8px  !important  ;
        -moz-border-radius: 8px  !important  ;
        -ms-border-radius: 8px  !important  ;
        -o-border-radius: 8px  !important  ;
}
ion-icon{
    font-size: 2.2em;
}
}
