<ion-header dir="rtl">
  <ion-navbar color="primary">
    <ion-title text-center>
      <strong>الشهود و الورثة</strong>
    </ion-title>
    <ion-buttons end>
      <button type="button" ion-button (click)="goToAccount()">
        <ion-icon name="person" size="large"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="old == 0">
    <form (ngSubmit)="onUpdate(f)" #f="ngForm">
      <h2>الشهود</h2>
      <ion-card >
        <ion-item-group margin-top >

          <ion-item>
            <ion-label stacked>الاسم</ion-label>
            <ion-input type="text" [(ngModel)]="witness_name[0]" name="witness_name[0]" >

            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>رقم الهاتف</ion-label>
            <ion-input type="number" [(ngModel)]="witness_phone[0]" name="witness_phone[0]">

            </ion-input>
          </ion-item>
        </ion-item-group>
      </ion-card>
      <ion-card >
        <ion-item-group margin-top >

          <ion-item>
            <ion-label stacked>الاسم</ion-label>
            <ion-input type="text" [(ngModel)]="witness_name[1]" name="witness_name[1]" >

            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>رقم الهاتف</ion-label>
            <ion-input type="number" [(ngModel)]="witness_phone[1]" name="witness_phone[1]">

            </ion-input>
          </ion-item>
        </ion-item-group>
      </ion-card>


      

      <!-- <button type="button" ion-button color="primary" full tappable (click)="add_wit()">
          <ion-icon name="add-circle" padding></ion-icon>اضافة شاهد
      </button> -->

      <h2>الورثة</h2>
      <ion-card>
          <ion-item-group margin-top>
    
            <ion-item>
              <ion-label stacked>الاسم</ion-label>
              <ion-input type="text" [(ngModel)]="inheritor_name[0]" name="inheritor_name[0]">
               
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>رقم الهاتف</ion-label>
              <ion-input type="text" [(ngModel)]="inheritor_phone[0]" name="inheritor_phone[0]">
    
              </ion-input>
            </ion-item>
          </ion-item-group>
      </ion-card>
      <ion-card>
          <ion-item-group margin-top>
    
            <ion-item>
              <ion-label stacked>الاسم</ion-label>
              <ion-input type="text" [(ngModel)]="inheritor_name[1]" name="inheritor_name[1]">
                
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>رقم الهاتف</ion-label>
              <ion-input type="text" [(ngModel)]="inheritor_phone[1]" name="inheritor_phone[1]">
    
              </ion-input>
            </ion-item>
          </ion-item-group>
      </ion-card>

      <!-- <button type="button" ion-button color="primary" full tappable >
          <ion-icon name="add-circle"  padding></ion-icon>اضافة وريث
      </button> -->
    

      <button ion-button color="primary" full large round >
          <ion-icon name="create" padding></ion-icon>حــفــظ
      </button>
    </form>
  </div>
  <div *ngIf="old == 1">
    <ion-card padding>
      <ion-card-title>الشهود</ion-card-title>
      <ion-card-content>
            <div *ngFor="let wit of will.witness">
                <p>{{wit.name}}</p>
                <p>{{wit.phone}}</p>
                <hr>
            </div>
        
      </ion-card-content>
    </ion-card>
    <ion-card padding>
      <ion-card-title>الورثة</ion-card-title>
      <ion-card-content>
        <div *ngFor="let inh of will.inheritor">
                <p>{{inh.name}}</p>
                <p>{{inh.phone}}</p>
                <hr>
            </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
