page-editwill {
  .logo {
    width: 130px;
    height: 120px;
    margin: 30px auto 0;
    border-radius: 10%;
    background: url(../assets/img/ionic3-ico.png) no-repeat;
    background-size: 100%;
  }

  button {
    border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
  }

  ion-icon {
    font-size: 2.2em;
  }

  .phases ion-card {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
  }
  .active{
    background: #006a5f !important;
  }
  .active ion-card-content{
    color: #fff !important;
  }
  .phases ion-card ion-card-content{
    font-size: 2em !important;
    font-weight: 600;
  }
  .active ion-card-content{
    color: #fff !important;
  }
  .phase_title{
    text-align: center;
    padding: 16px;
    font-size: 18px;
  }
  .next{
    float: left;
  }
}
