page-settings {
  // setting style
  .card {
    margin-top: 1rem;
    margin-bottom: 2rem;
    overflow: hidden;
  }
  
  ion-avatar img{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto;
  }

  ion-icon {
    font-size: 2.2em !important;
  }

  button{
    border-radius: 8px  ;
    -webkit-border-radius: 8px  ;
    -moz-border-radius: 8px  ;
    -ms-border-radius: 8px  ;
    -o-border-radius: 8px  ;
}
}
